 <!DOCTYPE html>

<head>
	<meta charset = "utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wikipedia Viewer</title>
	
	<!-- libraries -->
    <link rel="icon" href="images/eye.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/animate.min.css">
	
    <!-- stylesheets -->
    <link rel='stylesheet' href = 'css/application.css'>


</head>

<body ng-app="WikiViewer">
    
    <div class="main" ng-controller="MainController">
        <div class="header">
            <div class="randomarticle">
                <a href="https://en.wikipedia.org/wiki/Special:Random" target="blank">Click Here for a random article!</a>
            </div>
                  
                
        	<div class="inputdiv">
            	<input ng-model="search" on-Keypress='enter($event)' placeholder="SEARCH"></input>   
        	</div>
        </div>  
        

        <div id="list">
            <div ng-repeat="result in results" class='results'>
                <a ng-href="https://en.wikipedia.org/?curid= + {{result.pageid}}" class="listing"><h2>{{result.title}}</h2></a>
                <p>{{result.extract}}</p>  
            </div>

        </div>
       
    </div>

    
    

    <!-- vendors -->
    
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/angular-animate.min.js"></script>
     

    <!-- modules -->
    <script type="text/javascript" src="js/app.js"></script>

    <!-- controllers -->
    <script type="text/javascript" src="js/controllers/MainController.js"></script>

    <!-- services -->
    <script type="text/javascript" src="js/services/wikiservice.js"></script>

    <!-- directives -->
    <script type="text/javascript" src="js/directives/search.js"></script>

        
 
</body>