<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#cf6766">
        <title>Wikipedia Viewer</title>
        <link rel="manifest" href="manifest.json">
        <!-- libraries -->
        <link rel="icon" href="images/eye.png?v=2">
        <link rel="stylesheet" href="app.css">
    </head>

    <body ng-app="WikiViewer">
        <main ng-controller="MainController as vm">
            <div class="header">
                <div class="randomarticle">
                    <a href="https://en.wikipedia.org/wiki/Special:Random" target="blank">
                        Click Here for a random article!
                    </a>
                </div>
                    
                    
                <div class="inputdiv">
                    <input id="searchbox" ng-model="search" on-Keypress='vm.enter($event)' placeholder="SEARCH" aria-label="search"></input>   
                </div>
            </div>  
            

            <div id="list">
                <div ng-repeat="result in vm.results" class='results'>
                    <a ng-href="https://en.wikipedia.org/?curid= + {{result.pageid}}" class="listing">
                        <h2>{{result.title}}</h2>
                    </a>
                    <p>{{result.extract}}</p>  
                </div>

            </div>
        </main>

        <!-- vendors -->   
        <script src="app.vendor.js"></script>
        <script src="app.bundle.js"></script>
    </body>
</html>


