@include font-family('Galada');
@include font-family('Kaushan+Script');


body {
  @include font(12px);
  font-family: "Galada";
}

h2 {
  @include font(24px);
  font-family: "Kaushan Script";
}

p {
  @include font(18px);
}

a {
  @extend %decoration;
  text-shadow: 2px 2px 5px $shadow;
  &:hover, &:active, &:focus, &:visited {
    @extend %decoration;
  }
  width: 100%;
  height: 100%;
}

input {
  @include font(20px, $color:black);
}

