@mixin font-family($font-family) {
	@import url('#{$path-font}#{$font-family}');
}

@mixin font($font-size, $l-height: null, $weight: null, $color: null, $font-family: $stack-kaushan-script) {
	font-size: $font-size;
	line-height: $l-height;
	font-weight: $weight;
	color: $color;
	font-family: $font-family;
}

@mixin transition($duration, $property, $timing-function: ease-in-out, $delay: null) {
	-webkit-transition: $duration $property $timing-function $delay;
	transition: $duration $property $timing-function $delay;
}

@mixin transform($value) {
	-webkit-transform: scale($value);
	        transform: scale($value);
}

@mixin opacity($value) {
	opacity: $value;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$value * 100})";
}