body {
  @extend %auto-margin;
  height: 1600px;
  background-color: $blue-light;  
}

.main {
  @extend %full-width;
  @extend %auto-margin;
  padding-top: 50px;
  text-align: center;
}

#list {
  margin: 300px auto;
  width: 70%;
}

.results {
  cursor: pointer;
  text-align: left;
  border-radius: 5px;
  margin-bottom: 25px;
  background-color: $white;
  box-shadow: 2px 2px 10px 3px $shadow;
  &.ng-enter {
    transition: .5s ease-in opacity;
    opacity: 0;
  }
  &.ng-enter.ng-enter-active {
    opacity: 1;
  } 
  &.ng-leave {
    transition: .3s ease-in opacity;
    opacity: 1;
  }
  &.ng-leave.ng-leave-active {
    opacity: 0;
  } 
}
















