
.header {
  background-color: rgba(6, 47, 79, .7);
  width: 100%;
  margin: auto;
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0;
  padding-top: 50px;
  border-bottom: 6px solid rgba(207, 103, 102, 1);
  box-shadow: 2px 2px 1px 1px;
}

.randomarticle {
  margin-bottom: 60px;
}

.inputdiv {
  margin-bottom: 75px;
}