* {
  box-sizing: border-box;
}

h2 {
  padding: 15px 0 0 25px;
}

p {
  padding: 10px 25px 15px 25px; 
}

input {
  
  height: 50px;
  padding-left: 10px;
  border: 5px solid $salmon;
  background-color: $translucent;
  box-shadow: 1px 1px 1px 1px;
  &:focus, &:hover {
    outline: none;
  }
  @media #{$brk-narrow} {
    width: 40%;
    &:hover {
      width: 50%;
    }
  }
}


